@charset "UTF-8";

@media screen and (min-width: 400px) and (max-width: 998px){
    #tela{
        width: 300px;
        height: 90px;
    
    }

    .botaoface{
        width: 68px;

    }



}

@media screen and (min-width: 998px){


}