@charset "UTF-8";

#tela{
    background-color: black;
    color: white;
    width: 600px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    font: normal 40px Arial;

}

.numerostela{
    text-align: right;
    width: 600px;
    height: 40px;
    margin: 0px;
    padding: 0px;

}

.botaoaux{
    width: 93px;
    height: 40px;
    margin: 2px;
    padding: 0px;

}

.botaoface{
    width: 143.3px;
    height: 40px;
    margin: 2px;
    padding: 0px;

}

